{% extends "themes/base_admin.html.twig" %}

{% block title %}Lire l'article numéro {{post.id}}: {{post.title}}{% endblock %}

{% block description %}{{post.description}}{% endblock %}

{% block main %}
    <article class="container-fluid">

        <div class="text-center my-3">
            {% if post.image %}
                <img src="{{ vich_uploader_asset(post, 'imageFile') }}" alt="{{ post.title }}" class="img-fluid">
            {% endif %}

            <h1 class="text-center my-3 display-5">{{post.title}}</h1>

            <div class="my-5">
                <small>Le rédacteur: {{superAdmin.firstName}} {{superAdmin.lastName}}</small>
                |
                <small>Créé le {{post.createdAt|date()}}</small>
            </div>
        </div>

        <div class="mb-3">
            {{post.content}}
        </div>
    </article>
{% endblock %}