{% extends "themes/base_visitor.html.twig" %}

{% block title %}Contact{% endblock %}

{% block description %}Contactez-moi{% endblock %}

{% block keywords %}Contact, formulaire{% endblock %}

{% block main %}
    <h1 class="text-center my-3 display-5">Contactez-moi</h1>

    {% include 'components/alert.html.twig' %}

    <div class="container">
        <div class="row">
            <div class="col-md-6">
                {# Form #}
                {{form_start(form)}}
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="visitor_contact_form_firstName">Prénom <span class="text-danger">*</span></label>
                            <div class="text-danger">{{form_errors(form.firstName)}}</div>
                            {{form_widget(form.firstName, {'attr': {'class':'form-control', 'autofocus':'autofocus'}})}}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="visitor_contact_form_lastName">Nom <span class="text-danger">*</span></label>
                            <div class="text-danger">{{form_errors(form.lastName)}}</div>
                            {{form_widget(form.lastName, {'attr': {'class':'form-control'}})}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6 mb-3">
                            <label for="visitor_contact_form_email">Email <span class="text-danger">*</span></label>
                            <div class="text-danger">{{form_errors(form.email)}}</div>
                            {{form_widget(form.email, {'attr': {'class':'form-control'}})}}
                        </div>
                        <div class="col-md-6 mb-3">
                            <label for="visitor_contact_form_phone">Numéro de téléphone</label>
                            <div class="text-danger">{{form_errors(form.phone)}}</div>
                            {{form_widget(form.phone, {'attr': {'class':'form-control'}})}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 mb-3">
                            <label for="visitor_contact_form_message">Message <span class="text-danger">*</span></label>
                            <div class="text-danger">{{form_errors(form.message)}}</div>
                            {{form_widget(form.message, {'attr': {'class':'form-control','rows':4}})}}
                        </div>
                    </div>
                    <div>
                        <input formnovalidate type="submit" class="btn btn-primary w-100">
                    </div>
                {{form_end(form)}}
            </div>
            <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                {# Infos (Setting) #}
                <p><strong>Email</strong>: {{setting.email}}</p>
                <p><strong>Téléphone</strong>: {{setting.phone}}</p>
                <div>
                    <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d83888.792829508!2d2.2777494117244794!3d48.92444575134384!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sfr!2sfr!4v1747225235276!5m2!1sfr!2sfr" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
{% endblock %}